.wrapper a{
    font-size: 5vh;
    border-radius: 10px;
    border: 1px solid black;
    padding: 15px;
    margin-top: 50px;
    color: aliceblue;
    background-color: blue;
    text-decoration: none;
    width: min(100%, 90%);
}
.wrapper h2{
    margin-bottom: 50px;
}
